// на завершающем этапе для оптимиз переносим файлы из папки css в scss libs и поключаем их
@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/slick';
@import 'libs/animate';
// начальный этап
@import 'base/variables';
@import 'base/animations';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    /* верстаем флексами, не использую колоночную сетку бутстрапа, поэтому создаем один контейнер с информацией */
    position: relative;
    /* задаем позиционирован блока, чтобы элементы (кнопки слайдера по 2-му вар)заняли правильную позицию */
    max-width: 950px;
    margin: 0 auto;
    /* выравниваем контейнер по центру */
}


/* создаем привязку - импорт файла из папки blocks */

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feed';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';