.carousel {
    /* отступы прописываем по самой большой скрытой картинки карусели в макете */
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        /* размеры картинки */
        margin: 0 auto;
    }
    /* задаем свойства стрелок переключения слайдера*/
    // 1-й вар
    .slick-prev,
    .slick-next {
        // 2- вар - меняем название
        // .prev,
        // .next {
        position: absolute;
        /* устанавл кнопку по центру слайдера слева */
        top: 50%;
        /* задаем отступ по вертикали*/
        transform: translateY(-50%);
        /* задаем отступ по верт и выравниваем по середине */
        left: -66px;
        /* сдвигаем стрелочку влево */
        border: none;
        /* убираем бордюр, обводку */
        background-color: #fff;
        /* убираем задний серый фон кнопки стрелочек */
        img {
            /* размеры картинки стрелоч */
            width: 31px;
            height: 50px;
        }
    }
    // 1-й вар
    .slick-next {
        // 2-й вар
        // .next {
        /* добавляем для правой кнопки дополн свойства */
        right: -66px;
        left: auto;
    }
    // 2-й вар - выравнивание картинок слайдера по серед между стрелками
    // .tns-item {
    //     img {
    //         display: block;
    //         margin: 0 auto;
    //     }
    // }
    // 2-й вар - стилизуем точки навигации, точки прокуртки под слайдером
    // .tns-nav {
    //     button {
    //         background-color: red;
    //     }
    //     // стилиз активную точку
    //     .tns-nav-active {
    //         background-color: blue;
    //     }
    // }
}