.header {
    display: flex;
    /* для выравнивания всех элементов */
    justify-content: space-between;
    align-items: center;
    /* выравнив по высоте */
    &__logo {
        /* задаем параметры логотипа */
        width: 250px;
        /* задаем ширину логотипа */
        img {
            /* любая картинка которая будует попадать внутрь логотипа, будет занимать 100% ширины */
            width: 100%;
        }
    }
    &__official {
        /* задаем параметры  */
        // задаем параметры осн текста
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        span {
            /* задаем параметры выделенного текста */
            display: block;
            /* задаем параметры блочного элемента и занимал всю доступ ему ширину */
            font-size: 18px;
        }
    }
    &__phone {
        display: block;
        /* задаем параметры блочного элемента и занимал всю доступ ему ширину */
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        &:hover {
            /* убираем подчерк и изменение цвета (синий) ссылки при наведении мышки */
            color: #fff;
            text-decoration: none;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        /* чтобы расположить элементы в другом порядке, сделать их вертикальными */
        align-items: flex-end;
        /* вырвнили по заднему краю */
    }
}

@media (max-width: 575px) {
    .header {
        &__logo {
            width: 160px;
            img {
                width: 100%;
            }
        }
        &__official {
            font-size: 12px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 14px;
        }
    }
}