// стилизуем обертку модал окна и затемненость заднего фона
.overlay {
    // скрываем изначально модальные окна
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    // отступ сверху, окно было вверху 
    top: 0;
    // задем прозрачность заднего фона через rgba и альфа-канал (.56)  при открытом модал окне, св-во (opacity: .56;) в данном случае использовать нельзя, тк стает прозраынм и содержание модал окна
    background-color: rgba(0, 0, 0, .56);
}

// стилизуем модал окна
.modal {
    // позиционир на переднем плане
    position: absolute;
    // отсут сверху
    top: 50%;
    // выравниваем по горизонтали
    left: 50%;
    // делаем комбинированное выравнивание по х и у чтобы окно встало строго по центру экрана
    transform: translate(-50%, -50%);
    // задаем высоту и ширину, высоту задаем мин допустим, тк содержание может менятся и окно могло расширяться
    width: 380px;
    min-height: 400px;
    // задаем цвет заливки окна
    background-color: #f2f2f2;
    // задаем отступы для внутреннего содеожимого окна
    padding: 38px 40px 40px 40px;
    // стилизум крести закрывания окна
    &__close {
        position: absolute;
        top: 0;
        // смещаем вправо
        right: -40px;
        // размеры крестика задаем как для шрифта, тк прописали его в index.html ка текстовый символ &times;
        font-size: 41px;
        // межстрочн отступ
        line-height: 21px;
        color: $main-color;
        // ладошка - при наведении на крестик
        cursor: pointer;
    }
    // стилизуем заголовок
    &__subtitle {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    // стилизуем описание
    &__descr {
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
    // задаем модификатор для третьего модал окна, меняем высоту окна
    &_mini {
        min-height: 140px;
    }
    // валидация форм - стилизуем инпуты в формах (модальные окна), класс -error 
    // задаем красную рамку для инпутов 
    .error {
        border: 1px solid red;
    }
    // стилизуем подсказки под инпутами в формах
    // убираем красную рамку у подсказок
    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
}

// скрываем изначально модальные окна
#consultation,
#order,
#thanks {
    display: none;
}