.pageup {
    // изначально ссылку-стрелку прокрутки вверх скрываем
    display: none;
    // фиксируем положение иконки на экране
    position: fixed;
    bottom: 40px;
    right: 40px;
    // высота и ширина картинки
    width: 40px;
    height: 40px;
    // стилизуем картинку
    img {
        // картинка будет всегда занимать 100% ширины
        width: 100%;
    }
}